{% extends "game/base.html" %}

{% block title_name %}Main page{% endblock %}

{% block style_home %}class='blue'{% endblock %}

{% block content_main %}
	<div id='top_100'>
		<table>
			</tr>
				<th>Position:</th><th>Nickname:</th><th>Score:</th><th>Asteroids:</th><th>Network</th>
	</tr>
			<!-- TODO: this (get myself) code needs some makeup -->
			{% set my_player = g.user.get_player(g.game.id) %}
			{% set counter = 1 %}
			{% for player in g.game.get_top100() %}
				<tr>
					<td>{{ counter }}</td><td>{{ player.nickname }}</td><td>{{ player.score }}</td><td>{{ player.get_nr_of_asteroids() }}</td>
					<td>
						<!-- if i have a network + if player is not in a network + dont invite yourself (redundant, impossible scenario)-->
						{% if my_player.network_id and not player.network_id and player.id != my_player.id %}
							<a href="{{ url_for('game.network_invite', player_id=player.id) }}">Invite!</a>
						{% endif %}
						{% if player.network_id %}
							{{ player.network.name }}
						{% endif %}
					</td>
				</tr>
				{% set counter = counter + 1 %}
			{% endfor %}
		</table>
	</div>
	
	<div id='top_10_networks'>
		<table>
			</tr>
				<th>Position:</th><th>Name:</th><th>Score:</th><th>Action:</th>
			</tr>
			{% set counter = 1 %}
			{% for network in g.game.get_top10_networks() %}
				<tr>
					<td>{{ counter }}</td><td>{{ network.name }}</td><td>{{ network.get_score() }}</td>
					{% set player = g.user.get_player(g.game.id) %}
					{% if player.has_network() %}
						{% if network.id == player.network_id %}
							{% if network.leader_id == player.id %}
								<td><a href="{{ url_for('game.network_leave') }}">Disband network!</a></td>
							{% else %}
								<td><a href="{{ url_for('game.network_leave') }}">Leave!</a></td>
							{% endif %}
						{% else %}
							<td></td>
						{% endif %}
					{% endif %}
				</tr>
				{% set counter = counter + 1 %}
			{% endfor %}
		</table>
	</div>
{% endblock %}
